.horizontal {
  /* Change Width here to match responsive breakpoints */
  width: 550px;
  position: relative;
}

.progressBar {
  border-top: 1px solid blue;
  height: 1px;
  margin-left: 30px;
  position: absolute;
  width: 100%;
}

.progressBar.in-progress {
  border-top: 3px  solid green;
  margin-top: -1px;
  width: 25%;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  padding-left: 0;
  width: 100%;
}

ul li {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  margin-top: 20px;
  padding-left: 0;
  position: relative;
  width: 75px;
}

ul li:before {
  background: white;
  border-radius: 50%;
  border: 1px solid blue;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: -25px;
  width: 10px;
}

ul li:first-child {
 margin-left: -37px;
}

ul li:last-child {
 margin-right: -37px;
}

ul li.checkbox:before {
  background-image: url();
}

ul li.current:before {
  background-color: blue;
  border-color: white;
  border-width: 3px;
  box-shadow: 0 0 0 4px blue;
  margin-top: -1px;
}

.vertical {
  /* Change height to match designs */
  height: 700px;
  
  width: 150px;
  position: relative;
}

.vertical .progressBar {
  border-left: 1px solid blue;
  border-top: none;
  height: 100%;
}

.vertical .progressBar.in-progress {
  border-left: 3px  solid green;
  height: 50%;
}

.vertical ul {
  height: 100%;
  flex-direction: column;
}

.vertical ul li {
  align-content: center;
  margin-left: 0;
  padding-left: 20px;
}

.vertical ul li:first-child {
  margin-top: -10px;
}

.vertical ul li:last-child {
  margin-bottom: -5px;
}

.vertical ul li:before {
  left: 0px;
  margin-left: -5px;
  margin-top: 0;
  top: 2.5px;
}